  .about-title {
    font-size: 42px;
    font-weight: bold;
    color: #28159b;
    margin-bottom: 20px;
  }
  
  .about-box {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: 0 auto;
  }
  
  .about-box p {
    font-size: 18px;
    color: #28159b;
    text-align: left;
  }
  
  .contact-section {
    margin-top: 80px;
    font-size: 16px;
    font-weight: bold;
    color: black;
  }
  
  .home-container {
    padding-top: 60px; 
  }