.Dashboard-Section {
    display: grid;
    grid-template-columns: 3fr 4fr; 
    grid-template-rows: 1fr 3fr; 
    gap: 20px; 
    width: 1000px;
    height: 550px;
}

.Title {
    font-size: 60px;
    align-items: center;
}

.avg-emotionDay{
    background-color: #FFFFFF;
    border-radius: 20px;
}

.avg-perWeek{
    width:100% ;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 20px;

}

.avg-perMonth{
    background-color: #FFFFFF;
    border-radius: 20px;

}
