.signup-box {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px; 
    position: relative;
  }
  
  .signup-box h1 {
    font-size: 1.5rem; 
  }
  
  .signup-box button {
    margin-top: 2rem;
    width: 100px;
    padding: 10px;
  }

  .signup-box .yN {
    margin-right: 100px;
    margin-left: 5px;
  }
