  .signup-box {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
    position: relative;
  }
  
  .signup-title {
    font-size: 35pt;
    margin-bottom: 1rem;
    color: #28159B;
  }
  
  .inputLogin-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.5rem;
  }
  
  .input-icon {
    margin-right: 0.5rem;
    color: #28159B;
  }
  
  input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 1rem;
  }
  
  .terms {
    display: flex;
    float: left;
    margin: 1rem ;
    font-size: 0.9rem;
  }
  
  .signup-button {
    background: linear-gradient(to right, #2500fa,#28159B);
    color: white;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .signup-button:hover {
    background: linear-gradient(to right, #8e2de2, #4a00e0);
  }
  
  .alreadyTxt{
    margin-top: 1rem;
    font-size: 0.9rem;
    text-decoration: none;
  }
  
  .alreadyTxt a {
    color: #2500fa;
    text-decoration: none;
  }
  