.change-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: none;
    position: relative;
    overflow: hidden;
  }
  
  .card {
    background: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    width: 350px;
  }
  
  
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    color: #28159b;
    margin-bottom: 1.5rem;
  }
  
  .input-group {
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  .input-field {
    width: 100%;
    padding: 0.1rem 2.5rem 0.1rem 1rem;
    font-size: 1rem;
    border-radius: 10px;
    outline: none;
  }
  
  
  .input-field:focus {
    border-color: #28159b;
  }
  
  .icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #28159b;
  }
  
  .confirm-button {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .confirm-button:hover {
    background: linear-gradient(to right, #2575fc, #6a11cb);
  }
  
  .redirect-text {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #28159b;
  }
  
  .login-link {
    color: #2575fc;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
  }
  