.screeningCase {
  background: white;
  font-family: "Prompt", serif;
  border-radius: 30px;
  padding: 2rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 480px;
  position: relative;
}

.screeningCase h1 {
  font-size: 1.5rem;
}

.screeningCase button {
  margin-top: 2rem;
  width: 100px;
  padding: 10px;

}

.screeningCase .yN {
  margin-right: 100px;
  margin-left: 5px;
}

.submit-Question {
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submit-Question.disabled {
  background-color: #d1d5db;
  color: #6b7280;
  cursor: not-allowed;
}

.submit-Question:active {
  background-color: #5A00CC;
  color: white;
  border: none;
  outline: none;
}

.submit-Question.active:hover {
  background-color: #4A00AA;
}

.next-Question {
  background-color: #5A00CC;
  border-radius: 30px;
}

.next-Question:active{
  background-color: #5A00CC;
  color: white;
  border: none;
  outline: none;
}