.diary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.diary-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  height: 500px;
  width: 900px;
}

.diary-friend {
  position: absolute;
  background-color: #e97575;
  left: 250px;
  font-size: 30px;
  top: 130px;
  width: 60px;
  height: 60px;
  padding: 10px;
  border: none;
  outline: none;
}



.cover-page {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(2, 1fr);
  top: 15%;
  padding-left: 20px;
  padding-right: 20px;
  background: radial-gradient(circle closest-side, #7d7d7d, #5f5d5d);
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.calendar-section,
.diary-section {
  flex: 1;
  min-width: 300px;
  padding: 20px 30px 20px 20px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.calendar-section h3 {
  font-size: 18px;
  color: #28159B;
}

.calendar-title h2 {
  margin: 0px;
}

.calendar-title {
  font-size: 30px;
  color: #212121;
  margin: 30px 0px 0px 0px;
  justify-items: flex-start;
  padding-left: 15px;
}

.calendar-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 50px;
  justify-items: left;
  padding-left: 20px;
}

.arrow-month {
  display: flex;
  gap: 20px;
  align-self: center;
  justify-content: space-between;
  width: 100px;
}

.days-container {
  display: grid;
  grid-template-columns: repeat(7, 0.5fr);
  font-size: 5px;
  text-align: center;
  place-content: center;
  color: #6b7280;
  user-select: none;
}

.calendar-container {
  display: grid;
  grid-template-columns: repeat(7, 0.5fr);
  font-size: 4px;
  text-align: center;
  place-content: center;
  color: #3F6262;
  user-select: none;
}

.current-circle {
  border-top: 1px solid #e5e7eb;
}

.base-style {
  margin: 10px;
  height: 2rem;
  width: 2rem;
  border-radius: 9999px;
  display: grid;
  place-content: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  user-select: none;
}

.base-style:hover {
  background-color: black;
  color: white;
}

.text-gray {
  color: #b1b1b1;
}

.bg-red {
  background-color: #ec609a;
  color: white;
}

.bg-black {
  background-color: black;
  color: white;
}

/*Diary Section*/
.diary-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 17fr 0.1fr 0.1fr;
  align-items: center;
  gap: 10px;
}

.diary-name {
  display: flex;
  flex-direction: column;
}

.description-function {
  font-family: "Prompt", serif;
  font-size: 12px;
  color: #552264;
}


.diary-title {
  font-size: 140px;
  color: #333;
  font-family: 'Nanum Pen Script', serif;
  background: linear-gradient(90deg, #28159B, #1A0E67, #0E0735);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 50px;
  margin-bottom: 0px;
}

.add-friends-button,
.close-friends-button {
  font-size: 18px;
  color: #28159B;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding-right: 10px;
  cursor: pointer;
  font-style: normal;
}

.diary-display {
  display: grid;
  font-family: 'Nanum Pen Script', serif;
  grid-template-rows: 120px 30px 110px 200px;
}

.diary-header {
  font-size: 100px;
  background: linear-gradient(180deg, #781A1A, #FEFFBD, #FFCFFD, #AC9FFF, #402FA7, #0E0735);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.5px #000000;
}


.day-selected h1 {
  font-size: 26px;
  margin-top: -10px;
}

textarea::placeholder {
  font-family: 'Nanum Pen Script', sans-serif;
  font-size: 15px;
  color: gray;
  font-style: italic;
}

.text-general {
  font-size: 20px;
  color: #28159B;
}

.text-general:hover {
  color: #28159B;
}

.emoji-text {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  margin: 10px 20px;
}

.showMessages {
  font-family: "Prompt", serif;
  font-weight: 500;
  font-style: normal;
  width: 320px;
  margin-left: 25px;
  margin-top: 20px;
}

.display-text {
  word-break: break-word;
  white-space: normal;
}

.save-message {
  background-color: #265ebf;
}


/*Color emoji change*/
.emoji-icon {
  cursor: pointer;
  transition: color 0.3s ease;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  margin: 10px 20px;
  font-size: 35px;

}

.awesome-icon:hover {
  color: #e990c2;
}

.awesome-icon.selected,
.awesome-selected {
  color: #FF92CD;
  font-size: 35px;
}

.awesome-rating {
  background-color: #FF92CD;
}

.good-icon:hover {
  color: #ffd1ab;
}

.good-icon.selected,
.good-selected {
  color: #FDBA83;
  font-size: 35px;
}

.good-rating {
  background-color: #FDBA83;
}

.alright-icon:hover {
  color: #c6e7ff;
}

.alright-icon.selected,
.alright-selected {
  color: #ABDCFF;
  font-size: 35px;
}

.alright-rating {
  background-color: #ABDCFF;
}


.bad-icon:hover {
  color: #e9ccff;
}

.bad-icon.selected,
.bad-selected {
  color: #E1BBFF;
  font-size: 35px;
}

.bad-rating {
  background-color: #E1BBFF;
}

.awful-icon:hover {
  color: #e2d7d7;
}

.awful-icon.selected,
.awful-selected {
  color: #D0D0D0;
  font-size: 35px;
}

.awful-rating {
  background-color: #D0D0D0;
}

.messageBox {
  display: grid;
  grid-template-rows: 3fr 1fr;
}


.meassage-textarea {
  padding-left: 30px;
  width: 80%;
  height: 122px;
  outline: none;
  border: none;
  resize: none;
}


.save-footer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 6fr;
  place-items: center;
}

.save-footer span,
.show-footer span {
  font-size: 10px;
  font-family: "Prompt", serif;
  color: #000000;
}

.show-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding-top: 80px;
}

.show-footer button {
  width: 150px;
  font-family: 'Nanum Pen Script', serif;
}

.share-diary {
  background-color: #7da6ff;
}

.delete-diary {
  background-color: #ce4d4d;
}

.mesStatusShare {
  font-size: 10px;
  color: #5f5d5d;
}

/*Friend Popup*/
.friend-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0%;
}

.friend-content {
  max-width: 350px;
  max-height: 350px;
  overflow: auto;
}

.header-friend {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 11fr;
  place-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 15px;
}

.search-bar input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  padding: 5px;
}

.search-bar .search-icon {
  color: gray;
  font-size: 18px;
}

.search-box {
  width: 93%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.logo-friends {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-image: url('/src/assets/LogoSafeZone.png');
}

.friend-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 250px;
  overflow: auto;
}

.friend-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
}

.friend-item img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.friend-name {
  flex-grow: 1;
  margin-left: 10px;
  font-weight: bold;
}

.friend-icon {
  border: none;
  color: #171717;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-left: auto;
}

.delete-button,
.add-button,
.friend-emojicon {
  border: none;
  color: #c20606;
  width: 35px;
  height: 35px;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
  margin-left: auto;
}

.friend-emojicon {
  color: #483383;
  font-size: 20px;
}

/*End Friend popup Section*/


/* Diary's Friend Feed */
.friendFeed {
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  margin-top: 90px;
  padding: calc(50px + 8vw);
  font-family: "Prompt", serif;
}

.feed-section {
  width: 100%;
}

.feed-colunm {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 0px;
}

.post-Feed {
  max-width: 800px;
  border: 1px solid rgb(180, 172, 172);
  padding: 40px;
  margin-left: 30px;
  height: 1000px;
}

.friend-Post {
  display: grid;
  grid-template-columns: 0.5fr 4fr 1.5fr;
}


.name-friends{
  color: #0E0735;
  text-align: left;
  font-size: 20px;
  margin-left: 5px;
}

.post-friends{
  color: #555459;
  text-align: left;
  font-size: 20px;
  margin-left: 5px;
}

.labelEmoji{
  font-size: 50px;
  color: #e990c2;
}

.friend-items {
  display: grid;
  grid-template-columns: 1fr 3fr 0.5fr;
  align-items: center;
  justify-content: left;
  padding: 10px;
  border-radius: 10px;
}

.isView{
  cursor: pointer;
}