.content h1 {
  font-size: 60px; 
  font-weight: bold;
}

.subtitle {
  color: #28159b; 
  font-size: 18px;
  margin-top: 20px;
  font-family: "Prompt", serif;
}


.quiz-button {
  display: inline-block;
  padding: 15px 30px;
  margin-top: 30px;
  background-color: white;
  color: #28159b; 
  border: 2px solid #28159b; 
  border-radius: 25px;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s ease, border-color 0.3s ease;
  font-family: "Prompt", serif;
}

.quiz-button:hover {
  color: orange; 
  border-color: orange; 
}


.content {
  text-align: center;
  margin-top: 20px;
}

.consult-button {
  display: inline-block;
  padding: 15px 30px;
  margin-top: 30px;
  background-color: white;
  color: #28159b; 
  border: 2px solid #28159b; 
  border-radius: 25px;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s ease, border-color 0.3s ease;
  font-family: "Prompt", serif;
}

.consult-button:hover {
  color: orange; 
  border-color: orange; 
}

.home-container {
  padding-top: 60px; 
}

.cat-fish-container {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.cat-fish {
  width: 500px; 
  height: auto;
  animation: floatAnimation 3s ease-in-out infinite;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* ลอยขึ้นเล็กน้อย */
  }
  100% {
    transform: translateY(0);
  }
}

.cat-eye2-container {
  position: fixed;
  bottom: 0;
  right: 0px;
  z-index: -1; /* ทำให้รูปอยู่ด้านหลังเนื้อหาหลัก */
}

.cat-eye2 {
  width: 350px;  /* ปรับขนาดรูปตามที่ต้องการ */
  height: auto;
}


.EmotionWrapper {
  display: grid;
  grid-template-columns: 1fr;
  position: fixed;
  top: 250px;
  right: 82px; /* ชิดขอบขวาหน้าจอ */
  transform: translateY(-50%);
  padding: 20px;
}

.EmotionDay {
  border-radius: 40px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 310px;
  height: 150px;
}

.Icon-Feeling {
  font-size: 40px;
  color: #f6efef;
}

.EmotionDay .description-chart {
  font-family: "Prompt", serif;
  color: #4e215b;
}




.EmotionSummaryContainer {
  padding: 20px;
  background: #fee5d1;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: fixed;
  top: 350px;
  right: 100px;
  width: 270px;
  height: 150px;
}

.SummaryTitle {
  font-size: 16px;
  font-family: "Prompt", serif;
  color: #4e215b;
}

.SummaryText {
  font-size: 14px;
  font-family: "Prompt", serif;
  color: #28159b;
}