.content h1 {
  font-size: 60px; 
  font-weight: bold;
}

.subtitle {
  color: #28159b; 
  font-size: 18px;
  margin-top: 20px;
  font-family: "Prompt", serif;
}


.quiz-button {
  display: inline-block;
  padding: 15px 30px;
  margin-top: 30px;
  background-color: white;
  color: #28159b; 
  border: 2px solid #28159b; 
  border-radius: 25px;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s ease, border-color 0.3s ease;
  font-family: "Prompt", serif;
}

.quiz-button:hover {
  color: orange; 
  border-color: orange; 
}


.content {
  text-align: center;
  margin-top: 20px;
}

.consult-button {
  display: inline-block;
  padding: 15px 30px;
  margin-top: 30px;
  background-color: white;
  color: #28159b; 
  border: 2px solid #28159b; 
  border-radius: 25px;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s ease, border-color 0.3s ease;
  font-family: "Prompt", serif;
}

.consult-button:hover {
  color: orange; 
  border-color: orange; 
}

.home-container {
  padding-top: 60px; 
}

.cat-fish-container {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.cat-fish {
  width: 450px; 
  height: auto;
  animation: floatAnimation 3s ease-in-out infinite;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* ลอยขึ้นเล็กน้อย */
  }
  100% {
    transform: translateY(0);
  }
}

.cat-eye2-container {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1; /* ทำให้รูปอยู่ด้านหลังเนื้อหาหลัก */
}

.cat-eye2 {
  width: 350px;  /* ปรับขนาดรูปตามที่ต้องการ */
  height: auto;
}