.page-container {
    min-height: 80vh;
    background: none;
    padding: 1.5rem;
  }
  
  .notification-list {
    max-width: fit-content;
    margin: 0 auto;
    font-family: "Prompt", serif;
  }
  
  
  .notification-item {
    position: relative;
    width: 1000px; 
    padding: 1.5rem;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto 3rem auto; 
    display: flex;
    align-items: center;
}
  
  .logo {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
  
  .notification-text {
    flex: 1;
    color: #33201e;
    font-style: bold;
  }
  
  .notification-title {
    font-weight: bold;
    font-size: 1.125rem;
  }
  
  .notification-date {
    font-size: 15px;
    font-weight: bold;
    color: #344568;
  }
  
  .notification-message {
    color: #4B5563;
  }
  
  .actionB , .diaryB{
    display: flex;
    gap: 0.5rem;
  }
  
  .btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
  }
  
  .btn.yes {
    background-color: darkseagreen;
    border-radius: 50px;
  }
  
  .btn.no {
    background-color: #d93838;
    border-radius: 50px;
  }

  
  .btn.view {
    background-color: #3868d9;
    border-radius: 50px;
  }
  
  .notification-time {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 0.75rem;
    color: #6B7280;
  }
  