  .home-container {
    padding-top: 60px; 
  }
 
  .profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 950px;
  }
  
  .profile-card {
    background: white;
    padding: 45px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .image-Section{
    padding: 30px 0px 10px 10px ;
    width: 250px;
  }
  
  .setting-Section{
    padding: 10px;
    width: 550px;
  }

  .profile-title h1{
    font-size: 45px;
    font-weight: bold;
    text-align: start;
    color: #3C009D;
    margin-bottom: 0px;
  }

  .profile-title{
    font-size: 14px;
    color: #82839e;
    text-align: start;
    padding: 0px;
    margin: 10px 0px 30px 0px;
  }

  .selected-picture {
    background-color: #ffd699;
    font-size: 12px;
    color: #424270;
    margin-bottom: 30px;
  }

  .idText {
    font-size: 16px;
    font-weight: bold;
    color: #9293b1;
  }
  .idFriend{
    font-size: 14px;
    color: #9293b1;
  }
  
  .image-selector-container {
    text-align: center;
    padding: 20px;
}

.profile-image {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto;
    background: #cae2ff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.select-button, .close-button {
    padding: 10px 20px;
    border: none;
    background-color: #51468b;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.template-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

.template-item {
    cursor: pointer;
    text-align: center;
}

.template-image {
    width: 100%;
    max-width: 150px;
    border: 2px solid #ccc;
    border-radius: 10px;
    transition: transform 0.2s ease;
}

.template-image:hover {
    transform: scale(1.05);
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

  
  .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .profile-form{
    display: flex;
    flex-direction: column;
    align-self: start;
  }
  
  
  .profile-form .input-setup {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    width: 500px;
  }
  
  .profile-form input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
    padding: 10px;
  }

  .profile-form span{
    color: #534c7b;
    font-size: 18px;
    align-self: start;
  }

  .input-setup input:disabled {
    background-color: #ededed; 
    color: #888; 
    border: 1px solid #ccc;
    opacity: 0.7;
  }
  
  .change-button {
    cursor: pointer;
    position: absolute;
    left: 500px;
  }
  
  .profile-button{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    padding-top: 50px;
    padding-right:50px;
  }

  .saveSetting-button{
    background-color: #51468b;
    width: 150px;
  }

  .cancelSetting-button{
    background-color: #e0e0e0;
    color: #1b1b1e;
    width: 150px;
  }

  .logout-button {
    background: white;
    color: black;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border: none;
    margin-top: 30px;
  }

  .delete-account{
    margin-top: 60px;
    background-color: brown;
  }
  