  .home-container {
    padding-top: 60px; 
  }
 
  .profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    width: 950px;
  }
  
  .profile-card {
    background: white;
    padding: 45px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .image-Section{
    padding: 50px 0px 10px 10px ;
    width: 250px;
  }
  
  .setting-Section{
    padding: 10px;
    width: 550px;
  }

  .profile-title h1{
    font-size: 45px;
    font-weight: bold;
    text-align: start;
    color: #3C009D;
    margin-bottom: 0px;
  }

  .profile-title{
    font-size: 14px;
    color: #82839e;
    text-align: start;
    padding: 0px;
    margin: 10px 0px 30px 0px;
  }

  .idText {
    font-size: 16px;
    font-weight: bold;
    color: #9293b1;
  }
  .idFriend{
    font-size: 14px;
    color: #9293b1;
  }
  
  .profile-image {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto;
    background: #cae2ff;
  }
  
  .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .profile-form{
    display: flex;
    flex-direction: column;
    align-self: start;
  }
  
  
  .profile-form .input-setup {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    width: 500px;
  }
  
  .profile-form input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
    padding: 10px;
  }

  .profile-form span{
    color: #534c7b;
    font-size: 18px;
    align-self: start;
  }

  .input-setup input:disabled {
    background-color: #ededed; 
    color: #888; 
    border: 1px solid #ccc;
    opacity: 0.7;
  }
  
  .change-button {
    cursor: pointer;
    position: absolute;
    left: 500px;
  }
  
  .profile-button{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    padding-top: 50px;
    padding-right:50px;
  }

  .saveSetting-button{
    background-color: #51468b;
    width: 150px;
  }

  .cancelSetting-button{
    background-color: #e0e0e0;
    color: #1b1b1e;
    width: 150px;
  }

  .logout-button {
    background: white;
    color: black;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border: none;
  }
  