.question-card,
.result-card {
  width: 100%;
  max-width: 900px;
  padding: 20px;
  background: #1d1919;
  font-family: "Prompt", serif;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.question {
  font-size: 2rem;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 600px;
}

.answers-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px;   
}

.answer-column {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-items: center;
  height: 100%;
}

.answers-row .answer-Qustion {
  margin: 5px;
  padding: 10px;
  width: 50px;
  border-radius: 50%; 
  background-color: #f0f0f0; 
  border: none; 
  outline: none; 
  color: #4D55CC;
  
}

.answer-Qustion:focus {
  outline: none; 
}
.answer-Qustion:hover {
  background-color: #4D55CC;
  color: white;
}

.answer-Qustion.selected {
  background-color: #4f9f2f;
  color: white;
}

.subtitle {
  font-size: 0.9rem;
  color: #555;
  margin-top: 5px;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 20%;
}

.nav-button.back {
  padding: 10px 20px;
  font-size: 0.9rem;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none; 
  flex-grow: 1;
}


.nav-button.back {
  background-color: #6c757d;
}

.nav-button.back:hover {
  background-color: #5a6268;
}

.next-Question {
  width: 50%;
  background-color: #5A00CC;
  border-radius: 30px;
}

.next-Question:hover {
  background-color: #4A00AA;
}

.next-Question:active{
  background-color: #5A00CC;
  color: white;
  border: none;
  outline: none;
}

.result {
  font-size: 1.2rem;
  padding: 20px; ;
}

.step-process {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 25px;
}

.step-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #d1d5db;
  color: white;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}

.step-circle.active {
  background-color: #da8067; 
}

.step-circle.completed {
  background-color: #4A00AA; 
}
